@page "/changelog"

<RadzenTimeline LinePosition="LinePosition.Top" style="--rz-timeline-line-width: 36px;
                   max-width: 750px;
                   margin: 0 auto;">
    <Items>
        <RadzenTimelineItem PointStyle="PointStyle.Primary">
            <LabelContent>
                <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-m-0">December 21, 2025</RadzenText>
            </LabelContent>
            <ChildContent>
                <RadzenCard>
                    <h4><a href="https://github.com/STARIONGROUP/EcoreNetto/releases/tag/7.0.7" target="_blank" rel="noopener">Version 7.0.7</a></h4>
                    <ul>
                        <li>[Update] Handlebars.Net.Helpers to version 2.5.4</li>
                        <li>[Update] System.CommandLine to version 2.0.1</li>
                        <li>[Update] System.IO.Packaging version 10.0.1</li>
                        <li>[Update] Microsoft.Sbom.Targets to version 4.1.5</li>
                        <li>[Update] Microsoft.Extensions.Hosting to version 10.0.1</li>
                        <li>[Update] Microsoft.Extensions.Http version 10.0.1</li>
                        <li>[Update] Microsoft.Extensions.Logging.Abstractions to version 10.0.1</li>
                    </ul>
                </RadzenCard>
            </ChildContent>
        </RadzenTimelineItem>
        <RadzenTimelineItem PointStyle="PointStyle.Primary">
            <LabelContent>
                <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-m-0">November 26, 2025</RadzenText>
            </LabelContent>
            <ChildContent>
                <RadzenCard>
                    <h4><a href="https://github.com/STARIONGROUP/EcoreNetto/releases/tag/7.0.6" target="_blank" rel="noopener">Version 7.0.6</a></h4>
                    <ul>
                        <li>[Update] Serilog.Extensions.Logging to vesion 10.0.0</li>
                        <li>[Update] Spectre.Console to version 0.54.0</li>
                        <li>[Update] System.CommandLine to version 2.0.0; </li>
                        <li>[Update] System.IO.Packaging version 10.0.0</li>
                        <li>[Update] Microsoft.Sbom.Targets to version 4.1.4</li>
                        <li>[Update] Microsoft.Extensions.Hosting to version 10.0.0</li>
                        <li>[Update] Microsoft.Extensions.Http version 10.0.0</li>
                        <li>[Update] Microsoft.Extensions.Logging.Abstractions to version 10.0.0</li>
                    </ul>
                </RadzenCard>
            </ChildContent>
        </RadzenTimelineItem>
<RadzenTimelineItem PointStyle="PointStyle.Primary">
    <LabelContent>
        <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-m-0">October 18, 2025</RadzenText>
    </LabelContent>
    <ChildContent>
        <RadzenCard>
                    <h4><a href="https://github.com/STARIONGROUP/EcoreNetto/releases/tag/7.0.5" target="_blank" rel="noopener">Version 7.0.5</a></h4>
            <ul>
                <li>[Update] System.IO.Packaging version 9.0.10</li>
                <li>[Update] Microsoft.Extensions.Logging.Abstractions to version 9.0.10</li>
            </ul>
        </RadzenCard>
    </ChildContent>
</RadzenTimelineItem>
<RadzenTimelineItem PointStyle="PointStyle.Primary">
    <LabelContent>
        <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-m-0">October 13, 2025</RadzenText>
    </LabelContent>
    <ChildContent>
        <RadzenCard>
                    <h4><a href="https://github.com/STARIONGROUP/EcoreNetto/releases/tag/7.0.4" target="_blank" rel="noopener">Version 7.0.4</a></h4>
            <ul>
                <li>[Update] Spectre.Console to version 0.52.0</li>
            </ul>
        </RadzenCard>
    </ChildContent>
</RadzenTimelineItem>
<RadzenTimelineItem PointStyle="PointStyle.Primary">
    <LabelContent>
        <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-m-0">October 4, 2025</RadzenText>
    </LabelContent>
    <ChildContent>
        <RadzenCard>
                    <h4><a href="https://github.com/STARIONGROUP/EcoreNetto/releases/tag/7.0.3" target="_blank" rel="noopener">Version 7.0.3</a></h4>
            <ul>
                <li>[Update] ClosedXML version 0.105.0</li>
                <li>[Update] Handlebars.Net.Helpers to version 2.5.3</li>
                <li>[Update] HtmlAgilityPack to version 1.12.4</li>
                <li>[Update] Spectre.Console to version 0.51.1</li>
                <li>[Update] System.IO.Packaging version 9.0.9</li>
                <li>[Update] Microsoft.Sbom.Targets to version 4.1.2</li>
                <li>[Update] Microsoft.Extensions.Hosting to version 9.0.9</li>
                <li>[Update] Microsoft.Extensions.Http version 9.0.9</li>
                <li>[Update] Microsoft.Extensions.Logging.Abstractions to version 9.0.9</li>
            </ul>
        </RadzenCard>
    </ChildContent>
</RadzenTimelineItem>
<RadzenTimelineItem PointStyle="PointStyle.Primary">
    <LabelContent>
        <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-m-0">August 11, 2025</RadzenText>
    </LabelContent>
    <ChildContent>
        <RadzenCard>
                    <h4><a href="https://github.com/STARIONGROUP/EcoreNetto/releases/tag/7.0.2" target="_blank" rel="noopener">Version 7.0.2</a></h4>
            <ul>
                <li>[[Update] Microsoft.Extensions.Logging.Abstractions to version 9.0.8</li>
                <li>[Add] SBOM to nugets</li>
                <li>[Update] how symbols and sources are made available</li>
                <li>[Update] to HtmlAgilityPack version 1.12.2</li>
                <li>[Update] Handlebars.Net.Helpers to version 2.5.2</li>
                <li>[Update] System.IO.Packaging version 9.0.8</li>
                <li>[Update] ClosedXML version 0.105.0</li>
                <li>[Update] to Microsoft.Extensions.Hosting version 9.0.8</li>
            </ul>
        </RadzenCard>
    </ChildContent>
</RadzenTimelineItem>
<RadzenTimelineItem PointStyle="PointStyle.Primary">
    <LabelContent>
        <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-m-0">March 01, 2025</RadzenText>
    </LabelContent>
    <ChildContent>
        <RadzenCard>
                    <h4><a href="https://github.com/STARIONGROUP/EcoreNetto/releases/tag/7.0.0" target="_blank" rel="noopener">Version 7.0.0</a></h4>
            <ul>
                <li>[Add] parameter validation</li>
                <li>[Update] HtmlAgilityPack version 1.11.74</li>
                <li>[Update] Handlebars.Net.Helpers to version 2.4.13</li>
            </ul>
        </RadzenCard>
    </ChildContent>
</RadzenTimelineItem>
<RadzenTimelineItem>
    <LabelContent>
        <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-m-0">February 23, 2025</RadzenText>
    </LabelContent>
    <ChildContent>
        <RadzenCard>
                    <h4><a href="https://github.com/STARIONGROUP/EcoreNetto/releases/tag/6.0.3" target="_blank" rel="noopener">Version 6.0.3</a></h4>
            <ul>
                <li>[Update] Microsoft.Extensions.Logging.Abstractions to version 9.0.2</li>
                <li>[Update] HtmlAgilityPack version 1.11.72</li>
                <li>[Update] Handlebars.Net.Helpers to version 2.4.12</li>
                <li>[Update] ClosedXML version 0.104.2</li>
                <li>[Update] System.IO.Packaging version 9.0.2</li>
                <li>[Update] Microsoft.Extensions.Http version 9.0.2</li>
                <li>[Update] Microsoft.Extensions.Hosting version 9.0.2</li>
            </ul>
        </RadzenCard>
    </ChildContent>
</RadzenTimelineItem>
<RadzenTimelineItem>
    <LabelContent>
        <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-m-0">October 28, 2024</RadzenText>
    </LabelContent>
    <ChildContent>
        <RadzenCard>
                    <h4><a href="https://github.com/STARIONGROUP/EcoreNetto/releases/tag/6.0.2" target="_blank" rel="noopener">Version 6.0.2</a></h4>
            <ul>
                <li>[Update] ECoreNetto.Extensions to HtmlAgilityPack version 1.11.70</li>
                <li>[Fix] VersionCheckerMiddleware - EscapeMarkup</li>
            </ul>
        </RadzenCard>
    </ChildContent>
</RadzenTimelineItem>
<RadzenTimelineItem>
    <LabelContent>
        <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-m-0">October 24, 2024</RadzenText>
    </LabelContent>
    <ChildContent>
        <RadzenCard>
                    <h4><a href="https://github.com/STARIONGROUP/EcoreNetto/releases/tag/6.0.1" target="_blank" rel="noopener">Version 6.0.1</a></h4>
            <ul>
                <li>[Update] ECoreNetto.Extensions to HtmlAgilityPack version 1.11.68</li>
            </ul>
        </RadzenCard>
    </ChildContent>
</RadzenTimelineItem>
<RadzenTimelineItem>
    <LabelContent>
        <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-m-0">October 20, 2024</RadzenText>
    </LabelContent>
    <ChildContent>
        <RadzenCard>
                    <h4><a href="https://github.com/STARIONGROUP/EcoreNetto/releases/tag/6.0.0" target="_blank" rel="noopener">Version 6.0.0</a></h4>
            <ul>
                <li>[Cleanup] as per SQ suggestions</li>
                <li>[Remove] Serilog references from EcoreNetto library</li>
                <li>[Add] System.IO.Packaging 8.0.1 as override on transitive dependency for EcoreNetto.Reporting</li>
                <li>[Add] Microsoft.Extensions.Hosting 8.0.1 as override on transitive dependency for EcoreNetto.Tools</li>
            </ul>
        </RadzenCard>
    </ChildContent>
</RadzenTimelineItem>
<RadzenTimelineItem>
    <LabelContent>
        <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-m-0">October 19, 2024</RadzenText>
    </LabelContent>
    <ChildContent>
        <RadzenCard>
                    <h4><a href="https://github.com/STARIONGROUP/EcoreNetto/releases/tag/5.2.1" target="_blank" rel="noopener">Version 5.2.1</a></h4>
            <ul>
                <li>[Update] Microsoft.Extensions.Logging.Abstractions to version 8.0.2</li>
                <li>[Update] Handlebars.Net.Helpers to version 2.4.6</li>
                <li>[Add] info sheet to excel report</li>
                <li>[Add] reporting version to HTML report</li>
                <li>[Add] checking for newer version from GitHub API</li>
            </ul>
        </RadzenCard>
    </ChildContent>
</RadzenTimelineItem>
<RadzenTimelineItem>
    <LabelContent>
        <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-m-0">October 03, 2024</RadzenText>
    </LabelContent>
    <ChildContent>
        <RadzenCard>
                    <h4><a href="https://github.com/STARIONGROUP/EcoreNetto/releases/tag/5.2.0" target="_blank" rel="noopener">Version 5.2.0</a></h4>
            <ul>
                <li>[Update] Serilog to version 4.0.2</li>
                <li>[Update] ClosedXML to version 0.104.1</li>
                <li>[Update] HtmlAgilityPack to version 1.11.67</li>
            </ul>
        </RadzenCard>
    </ChildContent>
</RadzenTimelineItem>
<RadzenTimelineItem>
    <LabelContent>
        <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-m-0">September 27, 2024</RadzenText>
    </LabelContent>
    <ChildContent>
        <RadzenCard>
                    <h4><a href="https://github.com/STARIONGROUP/EcoreNetto/releases/tag/5.1.0" target="_blank" rel="noopener">Version 5.1.0</a></h4>
            <ul>
                <li>[Add] string based report for HTML and Markdown</li>
            </ul>
        </RadzenCard>
    </ChildContent>
</RadzenTimelineItem>
<RadzenTimelineItem>
    <LabelContent>
        <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-m-0">September 21, 2024</RadzenText>
    </LabelContent>
    <ChildContent>
        <RadzenCard>
                    <h4><a href="https://github.com/STARIONGROUP/EcoreNetto/releases/tag/5.0.0" target="_blank" rel="noopener">Version 5.0.0</a></h4>
            <ul>
                <li>[Add] mardkown report generation capability; fixes
                    <a href="https://github.com/STARIONGROUP/EcoreNetto/issues/18" target="_blank" rel="noopener noreferrer">#18</a>
                </li>
                <li>[Add] EcoreNetto.Reporting library and move all report generators to this library for easy re-use across applications</li>
            </ul>
        </RadzenCard>
    </ChildContent>
</RadzenTimelineItem>
<RadzenTimelineItem>
    <LabelContent>
        <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-m-0">September 08, 2024</RadzenText>
    </LabelContent>
    <ChildContent>
        <RadzenCard>
                    <h4><a href="https://github.com/STARIONGROUP/EcoreNetto/releases/tag/4.0.1" target="_blank" rel="noopener">Version 4.0.1</a></h4>
            <ul>
                <li>[Add] DataTypes to Excel report; fixes
                    <a href="https://github.com/STARIONGROUP/EcoreNetto/issues/16" target="_blank" rel="noopener noreferrer">#16</a>
                </li>
            </ul>
        </RadzenCard>
    </ChildContent>
</RadzenTimelineItem>
<RadzenTimelineItem>
    <LabelContent>
        <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-m-0">September 08, 2024</RadzenText>
    </LabelContent>
    <ChildContent>
        <RadzenCard>
                    <h4><a href="https://github.com/STARIONGROUP/EcoreNetto/releases/tag/4.0.0" target="_blank" rel="noopener">Version 4.0.0</a></h4>
            <ul>
                <li>[Add] user-friendly feedback when the out-report extension is not support; fixes
                    <a href="https://github.com/STARIONGROUP/EcoreNetto/issues/13" target="_blank" rel="noopener noreferrer">#13</a>
                </li>
                <li>[Add] logging to ecore library and associated tests; fixes
                    <a href="https://github.com/STARIONGROUP/EcoreNetto/issues/9" target="_blank" rel="noopener noreferrer">#9</a>
                </li>
                <li>[Add] ModelInspectionCommand; fixes
                    <a href="https://github.com/STARIONGROUP/EcoreNetto/issues/14" target="_blank" rel="noopener noreferrer">#14</a>
                </li>
                <li>[Add] HandleBarsReportGenerator and HtmlReportCommand; fixes
                    <a href="https://github.com/STARIONGROUP/EcoreNetto/issues/15" target="_blank" rel="noopener noreferrer">#15</a>
                </li>
            </ul>
        </RadzenCard>
    </ChildContent>
</RadzenTimelineItem>
<RadzenTimelineItem>
    <LabelContent>
        <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-m-0">September 06, 2024</RadzenText>
    </LabelContent>
    <ChildContent>
        <RadzenCard>
                    <h4><a href="https://github.com/STARIONGROUP/EcoreNetto/releases/tag/3.1.0" target="_blank" rel="noopener">Version 3.1.0</a></h4>
            <ul>
                <li>[Update] Dependencies for ECoreNetto.Extensions</li>
                <li>[Add] ReportGenerator to ECoreNetto.Extensions</li>
                <li>[Add] commandline app ECoreNetto.Tools (version 0.1.0)</li>
            </ul>
        </RadzenCard>
    </ChildContent>
</RadzenTimelineItem>
<RadzenTimelineItem>
    <LabelContent>
        <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-m-0">August 09, 2024</RadzenText>
    </LabelContent>
    <ChildContent>
        <RadzenCard>
            <h4>Version 3.0.0</h4>
            <ul>
                <li>[Update] to Starion Group</li>
            </ul>
            <h4>ECoreNetto.Extensions - Version 2.0.0</h4>
            <ul>
                <li>[Update] to Starion Group</li>
            </ul>
            <h4>ECoreNetto.HandleBars - Version 2.0.0</h4>
            <ul>
                <li>[Update] to Starion Group</li>
                <li>[Update] dependencies</li>
            </ul>
        </RadzenCard>
    </ChildContent>
</RadzenTimelineItem>
<RadzenTimelineItem>
    <LabelContent>
        <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-m-0">February 12, 2024</RadzenText>
    </LabelContent>
    <ChildContent>
        <RadzenCard>
            <h4>EcoreNetto - Version 2.3.3</h4>
            <ul>
                <li>[Update] header - copyright statement</li>
                <li>[Update] dependencies</li>
            </ul>
            <h4>ECoreNetto.Extensions - Version 1.1.1</h4>
            <ul>
                <li>[Update] dependencies</li>
            </ul>
            <h4>ECoreNetto.HandleBars - Version 1.2.1</h4>
            <ul>
                <li>[Update] dependencies</li>
            </ul>
        </RadzenCard>
    </ChildContent>
</RadzenTimelineItem>
<RadzenTimelineItem>
    <LabelContent>
        <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-m-0">January 3, 2023</RadzenText>
    </LabelContent>
    <ChildContent>
        <RadzenCard>
                    <h4><a href="https://github.com/STARIONGROUP/EcoreNetto/releases/tag/2.3.1" target="_blank" rel="noopener">Version 2.3.1</a></h4>
            <ul>
                <li>[Cleanup] using statements</li>
                <li>[Update] header - copyright statement</li>
            </ul>
        </RadzenCard>
    </ChildContent>
</RadzenTimelineItem>
<RadzenTimelineItem>
    <LabelContent>
        <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-m-0">August 1, 2022</RadzenText>
    </LabelContent>
    <ChildContent>
        <RadzenCard>
                    <h4><a href="https://github.com/STARIONGROUP/EcoreNetto/releases/tag/2.3.0" target="_blank" rel="noopener">Version 2.3.0</a></h4>
            <ul>
                <li>[Add] EClass.EStructuralFeaturesOrderByName helper property</li>
                <li>[Add] EClass.EOperationsOrderByName helper property</li>
            </ul>
        </RadzenCard>
    </ChildContent>
</RadzenTimelineItem>
<RadzenTimelineItem>
    <LabelContent>
        <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-m-0">July 31, 2022</RadzenText>
    </LabelContent>
    <ChildContent>
        <RadzenCard>
                    <h4><a href="https://github.com/STARIONGROUP/EcoreNetto/releases/tag/2.2.0" target="_blank" rel="noopener">Version 2.2.0</a></h4>
            <ul>
                <li>[Add] EClass.AllEStructuralFeaturesOrderByName helper property</li>
            </ul>
        </RadzenCard>
    </ChildContent>
</RadzenTimelineItem>
<RadzenTimelineItem>
    <LabelContent>
        <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-m-0">July 26, 2022</RadzenText>
    </LabelContent>
    <ChildContent>
        <RadzenCard>
                    <h4><a href="https://github.com/STARIONGROUP/EcoreNetto/releases/tag/2.1.0" target="_blank" rel="noopener">Version 2.1.0</a></h4>
            <ul>
                <li>[Add] EEnumLiteral.Value property; fixes
                    <a href="https://github.com/STARIONGROUP/EcoreNetto/issues/8" target="_blank" rel="noopener noreferrer">#8</a>
                </li>
                <li>[Improve] xml documentation of EStructuralFeature class</li>
            </ul>
        </RadzenCard>
    </ChildContent>
</RadzenTimelineItem>
<RadzenTimelineItem>
    <LabelContent>
        <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-m-0">July 25, 2022</RadzenText>
    </LabelContent>
    <ChildContent>
        <RadzenCard>
                    <h4><a href="https://github.com/STARIONGROUP/EcoreNetto/releases/tag/2.0.2" target="_blank" rel="noopener">Version 2.0.2</a></h4>
            <ul>
                <li>[Reorganize] folder structure to simplify solution</li>
                <li>[Update] TargetFramework from netstandard1.6 to netstandard2.0; fixes
                    <a href="https://github.com/STARIONGROUP/EcoreNetto/issues/6" target="_blank" rel="noopener noreferrer">#6</a>
                </li>
                <li>[Refactor] BuildIdentifier for EOperation and EStructuralFeature to accomodate for non-unique names between the two types when storing in the Resource.Cache; fixes
                    <a href="https://github.com/STARIONGROUP/EcoreNetto/issues/7" target="_blank" rel="noopener noreferrer">#7</a>
                </li>
                <li>[Replace] PackageIconUrl with PackageIcon</li>
                <li>[Update] .csproj description</li>
            </ul>
        </RadzenCard>
    </ChildContent>
</RadzenTimelineItem>
<RadzenTimelineItem>
    <LabelContent>
        <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-m-0">June 13, 2021</RadzenText>
    </LabelContent>
    <ChildContent>
        <RadzenCard>
                    <h4><a href="https://github.com/STARIONGROUP/EcoreNetto/releases/tag/1.1.0" target="_blank" rel="noopener">Version 1.1.0</a></h4>
            <p>[Add] all ecore datatypes to EcoreObjectInstantiator and Resource.ECoreTypes</p>
        </RadzenCard>
    </ChildContent>
</RadzenTimelineItem>
<RadzenTimelineItem>
    <LabelContent>
        <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-m-0">April 28, 2020</RadzenText>
    </LabelContent>
    <ChildContent>
        <RadzenCard>
            <h4>Version 1.0.3</h4>
            <p>[Cleanup] Code; add symbols and sources</p>
        </RadzenCard>
    </ChildContent>
</RadzenTimelineItem>
<RadzenTimelineItem>
    <LabelContent>
        <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-m-0">September 7, 2017</RadzenText>
    </LabelContent>
    <ChildContent>
        <RadzenCard>
            <h4><a href="https://github.com/STARIONGROUP/EcoreNetto/releases/tag/1.0.2" target="_blank" rel="noopener">Version 1.0.2</a></h4>
            <p>[Fix] EAnnotation Set Properties</p>
        </RadzenCard>
    </ChildContent>
</RadzenTimelineItem>
<RadzenTimelineItem>
    <LabelContent>
        <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-m-0">August 17, 2017</RadzenText>
    </LabelContent>
    <ChildContent>
        <RadzenCard>
            <h4>Version 1.0.1</h4>
            <p>[Update] Nuget package logo</p>
        </RadzenCard>
    </ChildContent>
</RadzenTimelineItem>
<RadzenTimelineItem>
    <LabelContent>
        <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-m-0">August 10, 2017</RadzenText>
    </LabelContent>
    <ChildContent>
        <RadzenCard>
            <h4>Version 1.0.0</h4>
            <p>After extensive use on the
                <a href="https://www.linkedin.com/groups/8534957" target="_blank" rel="noopener noreferrer">MARVL</a>
                project code-generators the ecorenetto library is made publicly available under the Apache 2.0 license
            </p>
        </RadzenCard>
    </ChildContent>
</RadzenTimelineItem>
</Items>
</RadzenTimeline>
