@page "/"

@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div class="rz-p-4">
    <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Center" Gap="10px">

        <RadzenHeading Size="H1" Text="Free open-source Ecore libraries for .NET" />
        
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="10px">
            
            <a href="https://www.nuget.org/packages/EcoreNetto" target="_blank" rel="noopener noreferrer">
                ECoreNetto<img src="https://img.shields.io/nuget/v/EcoreNetto" alt="ECoreNetto" />
            </a>
            
            <a href="https://www.nuget.org/packages/EcoreNetto.Extensions" target="_blank" rel="noopener noreferrer">
                Extensions<img src="https://img.shields.io/nuget/v/EcoreNetto.Extensions" alt="ECoreNetto.Extensions" />
            </a>
            
            <a href="https://www.nuget.org/packages/EcoreNetto.HandleBars" target="_blank" rel="noopener noreferrer">
                HandleBars<img src="https://img.shields.io/nuget/v/EcoreNetto.HandleBars" alt="ECoreNetto.HandleBars" />
            </a>
            
            <a href="https://www.nuget.org/packages/EcoreNetto.Tools" target="_blank" rel="noopener noreferrer">
                Tools<img src="https://img.shields.io/nuget/v/EcoreNetto.Tools" alt="ECoreNetto.Tools" />
            </a>

            <a href="https://github.com/STARIONGROUP/EcoreNetto/actions/workflows/CodeQuality.yml" target="_blank" rel="noopener noreferrer">
                <RadzenImage Path="https://github.com/STARIONGROUP/EcoreNetto/actions/workflows/CodeQuality.yml/badge.svg?branch=master"
                             Alt="Build Status" Style="max-width: 100%;" />
            </a>
        </RadzenStack>

        <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Stretch">
            <RadzenCard Style="padding: 10px;">
                <RadzenHeading Size="H4" Text=" Open Source" />
                <p>ecorenetto is open-source software and is completely <a href="https://github.com/STARIONGROUP/EcoreNetto/blob/master/LICENSE" target="_blank" rel="noopener noreferrer">free for commercial use</a></p>
            </RadzenCard>
            
            <RadzenCard Style="padding: 10px;">
                <RadzenHeading Size="H4" Text=" Implements the Ecore meta model" />
                <p>ecorenetto implements version 2.9.0</p>
            </RadzenCard>

            <RadzenCard Style="padding: 10px;">
                <RadzenHeading Size="H4" Text="What does it do?" />
                <ul>
                    <li>Read Ecore models with the <a href="https://www.nuget.org/packages/ECoreNetto" target="_blank" rel="noopener noreferrer">EcoreNetto</a> library</li>
                    <li>Benefit from extension methods using the <a href="https://www.nuget.org/packages/ECoreNetto.Extensions" target="_blank" rel="noopener noreferrer">EcoreNetto.Extensions</a> library</li>
                    <li>Generate Code using the <a href="https://www.nuget.org/packages/ECoreNetto.HandleBars" target="_blank" rel="noopener noreferrer">ECoreNetto.HandleBars</a> library</li>
                    <li>Create Excel, HTML and Mardkown reports using the <a href="https://www.nuget.org/packages/ECoreNetto.Reporting" target="_blank" rel="noopener noreferrer">ECoreNetto.Reporting</a> library</li>
                    <li>Create Excel, HTML and Mardkown reports using the <a href="https://www.nuget.org/packages/ECoreNetto.Tools" target="_blank" rel="noopener noreferrer">ECoreNetto.Tools</a> commandline app </li>
                </ul>
            </RadzenCard>
            
        </RadzenStack>
       
    </RadzenStack>
</div>
